@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    overflow: hidden;
    user-select: none;
}

:root {
    /* Colors */
    --color-font:       #edf4f0;
    --color-background: #0d0e17;
    --color-primary:    #5795b7;
    --color-secondary:  #3b5566;
    --color-accent:     #6d78aa;

    /* font */
    --font-family: "Work Sans", serif;
    --font-weight-extra-bold: 800;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-thin: 200;
}


/* animations */
@keyframes loadingSpin {
    0% {
        transform: rotate(0deg);    ;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes loadingFadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* loading screen */
.loading {
    background-color: var(--color-background);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading img {
    width: 64px;
    height: auto;
    margin-bottom: 25px;
    animation: loadingSpin 0.7s linear infinite;
    -webkit-animation: loadingSpin 0.7s linear infinite;
}

.loading h1 {
    color: var(--color-font);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
}


/* page and containers */
body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}